@{
	ViewData["Title"] = "Home Page";
}

<div class="heading text-center">
	<h1 class="display-6 fw-bold">Keep <span style="color:#503c97;">Record</span> of all the students!</h1>
	<p>Allows to <span class="highlight">Create, Read, Update</span> or <span class="highlight">Delete</span> data</p>
</div>

<style>
	.heading {
		text-align: center;
		margin-top: 100px;
		margin-bottom: 50px;
	}
	
	.heading h1 {
			font-size: 48px;
			color: #3F3F3F;
			margin-bottom: 20px;
	}

	.heading p {
			font-size: 24px;
			color: #666666;
			margin: 0;
	}

	.highlight {
		color: #503c97;
		font-weight: bold;
	}
</style>